.contenedor_de_nuestro_servicio{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor_sobre_nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre_nosotros .contenido_textos{
        width: 90%;
    }

    .Nuestra_descripcion{
        width: 110%;
    }